[submodule "libs/regex"]
	path = libs/regex
	url = https://github.com/boostorg/regex.git
[submodule "tools/cmake"]
	path = tools/cmake
	url = https://github.com/boostorg/cmake.git
[submodule "libs/config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
[submodule "libs/throw_exception"]
	path = libs/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "libs/predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
[submodule "libs/assert"]
	path = libs/assert
	url = https://github.com/boostorg/assert.git
